body {
   
   background: LightSteelBlue !important;
            	
}

#header {
	margin-top: 5%;
	text-align: center;
	color: DarkBlue;
}

h1{
	font-family: 'Bungee Shade', cursive !important;	
	font-size: 50px !important;
}

button{
	font-family: 'Tomorrow', sans-serif !important;
	font-size:20px !important;
}

#login {
	margin: 2%;
	
	
}

#register {
	
	margin: 2%;
	
}

#join-room {
	
	text-align: center;
	
}
