body {
   
   background: LightSteelBlue !important;
            	
}

#header {
	margin-top: 5%;
	text-align: center;
	color: DarkBlue;
}


.form-input {
	
	margin: 2%;
	
}
#login {
	
	margin: 2%;
	
	
}

#register {
	
	margin: 2%;
	
}

#join-room {
	
	text-align: center;
	
}
